<%- layout('/layout/modal.ejs') -%>

<p>Ce module permet de piloter Sabnzbd avec SARAH</p>

<div class="alert alert-info" role="alert">
  <h4>Participants</h4>
  <p>sarakha63</p>
</div>
<h4>Que peut on faire et comment ça marche: Utilisation de SABNZBD avec SARAH <span class="badge">New</span></h4>
	Tout d'abord, il faut absolument configurer votre addresse Sabnzbd ainsi que la clé API.
	<br />Adresse au format : http://XXX.XXX.XXX.XXX:XXXX
	<br />Une fois cela fait :
	Vous pourrez dire : <br />Sarah met en pause les téléchargements
						<br />Sarah active les téléchargements
						<br />Sarah met la vitesse des téléchargements à 500
						<br />Sarah met la vitesse des téléchargements à 1000
						<br />Sarah met la vitesse des téléchargements à fond
						<br />Sarah quelle est la version de sab
						<br />Sarah y a t'il des téléchargements en cours
						<br />Sarah donne le détail des téléchargements en cours
<!--Version-->
<div class="tab-pane active" id="plugin-version">
<h4>Version 1.1 : Version, en cours, détails</h4>
<pre>
[X] Donne le nombre de téléchargemens en cours
[X] Donne le détail des téléchargements en cours
[X] Donne la version de Sab

</pre>
<h4>Version 1.0 : Pause, resume, contrôle vitesse</h4>
<pre>
[X] Gestion de la pause
[X] Gestion de la reprise
[X] Gestion de l'attribution d'une vitesse

</pre>


<h4>A venir</h4>
<pre>
Rajout de la demande d'historique
Rajout de la demande de temps restant
Rajout pause pour x minutes
......
</pre>
</div><!-- tab-content -->


